@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 폰트 */
.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 바디 */
body {
  background-color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 헤더 */
header {
  display: flex;
  margin: auto;
  position: fixed;
  transform: translateX(155px);
  z-index: 2;
  background-color: #bebebe;
  height: 80px;
  width: 895px;
  font-size: 20px;
  line-height: 80px;
  justify-content: space-between;
}

/* 헤더 메뉴 이름 */
header>p {
  margin: 0 30px;
}

/* 버튼 커서 손가락 모양 */
button {
  cursor: pointer;
}

/* 로그아웃 버튼 */
header>button {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  margin: 25px 20px;
  background-color: black;
  color: white;
  border: 0;
  font-size: 16px;
}

/* 메인 */
main {
  height: 100vh;
  display: flex;
  position: relative;
  top: 80px;
}

/* 사이드바 리스트 영역 */
#main-admin-list-menu {
  background-color: #d9d9d9;
  height: 100vh;
  width: 310px;
  position: fixed;
  transform: translate(-155px, -80px);
}

/* 사이드바 리스트 */
#main-admin-list {
  margin: 150px 55px;
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 사이드바 리스트 목록 */
#main-admin-list>li {
  font-size: 20px;
  margin: 20px 0;
}

/* 사이드바 리스트 목록 호버시 폰트 사이즈 증가 */
#main-admin-list>li:hover {
  font-size: 24px;
}

/* 리스트 스타일 제거 */
#main-admin-list>li>a {
  text-decoration: none;
  color: black;
}

/* 메인 영역 */
#main-banner {
  background-color: white;
  width: 895px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(155px);
}

/* 리스트 출력되는 구역 */
#main-banner-div {
  background-color: white;
  height: 1400px;
  width: 895px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 배너 리스트 제목 */
.main-banner-title {
  height: 50px;
  width: 850px;
  background-color: #d9d9d9;
  display: flex;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

/* 업다운 영역 */
.main-banner-up-down {
  margin-left: 10px;
  height: 50px;
  width: 100px;
}

/* 배너 번호 영역 */
.main-banner-number {
  width: 50px;
}

/* 배너명 영역 */
.main-banner-name {
  width: 150px;
}

/* 배너 이미지명 영역 */
.main-banner-image {
  width: 426px;
}

/* 삭제 버튼 영역 */
.main-banner-delete {
  margin-right: 10px;
  width: 100px;
}

/* 배너 리스트 */
#main-banner-list {
  border: 1px solid black;
  margin-bottom: 50px;
}

/* 배너 리스트 목록 */
#main-banner-list>li {
  list-style-type: none;
  display: flex;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  border-bottom: 3px solid #a7a7a7;
}

/* 업다운 버튼 수평으로 배치 */
.main-banner-up-down>form {
  display: flex;
}

/* 업다운 버튼 커스텀 */
.main-banner-up-down>form>button {
  margin: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  color: white;
  background-color: #d9d9d9;
  font-size: 22px;
  cursor: pointer;
}

/* 삭제 버튼 영역 */
.delete {
  margin: 5px 0;
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  background-color: #818181;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* 배너 추가 버튼 */
#main-banner-add {
  height: 60px;
  width: 150px;
  border: 0;
  border-radius: 10px;
  background-color: #818181;
  color: white;
  font-size: 24px;
  cursor: pointer;
}