<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Red_backend1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>

	<!-- <error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/error_page.jsp</location>
	</error-page> -->
	<!-- <error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>error_page.jsp</location>
	</error-page> -->
	<!-- <error-page>
		<error-code>500</error-code>
		<location>/error_page.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error_page.jsp</location>
	</error-page> -->

	<!-- 실제 수행 할 리스너이벤트 -->
	<listener>
		<listener-class>com.sol.app.ServletContextTest</listener-class>
	</listener>

	<!-- 초기화 파라미터로써 ServletContext에 파라미터를 보낸다  -->
	<context-param>
		<param-name>contextTest</param-name>
		<param-value>테스트값입니다</param-value>
	</context-param>


	<servlet>
		<servlet-name>Comment</servlet-name>
		<servlet-class>com.sol.app.comment.CommentFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>*.cm</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.sol.app.admin.AdminFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MyPage</servlet-name>
		<servlet-class>com.sol.app.myPage.MyPageFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyPage</servlet-name>
		<url-pattern>*.my</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>com.sol.app.member.MemberFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Routine</servlet-name>
		<servlet-class>com.sol.app.routine.RoutineFrontManager</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Routine</servlet-name>
		<url-pattern>*.ro</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Course</servlet-name>
		<servlet-class>com.sol.app.course.CourseFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Course</servlet-name>
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Tidings</servlet-name>
		<servlet-class>com.sol.app.tidings.TidingsFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Tidings</servlet-name>
		<url-pattern>*.ti</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>File</servlet-name>
		<servlet-class>com.sol.app.file.FileFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>File</servlet-name>
		<url-pattern>*.file</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.sol.app.main.MainFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>*.ma</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Donation</servlet-name>
		<servlet-class>com.sol.app.donation.DonationFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Donation</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmallClub</servlet-name>
		<servlet-class>com.sol.app.club.SmallClubFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SmallClub</servlet-name>
		<url-pattern>*.cl</url-pattern>
	</servlet-mapping>
</web-app>