@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #FFFEF1;
  margin: auto;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
  background-color: #FFFEF1;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 130px;
  min-height: calc(100vh - 235px);
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.font-main {
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle {
  font-size: 30px;
  color: #F38A6E;

  padding-top: 50px;
  height: 110px;
  line-height: 110px;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
}
button:hover{
  cursor: pointer;
}
.div-review-title {
  display: flex;
  background-color: #FFB29D;
  height: 50px;
  line-height: 50px;
}

.review-title-title{
  text-align: center;
  width: 70%;
}

.review-title {
  text-align: left;
  width: 70%;
  padding-left: 15px;
  
}
.review-number,
.review-like,
.review-author {
  text-align: center;
  width: 10%;
}

.review-date {
  text-align: center;
  width: 10%;
}

.ul-review-list {
  background-color: white;
}

.li-review-content {
  list-style: none;
  display: flex;
  height: 50px;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid #f59d85;
}

.div-review-content {
  display: flex;
  width: 1200px;
}

.div-review-title>p {
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div-page {
  display: flex;
  justify-content: center;
}

.div-pagenation {
  margin-top: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

.find-container {
  display: flex;
  align-items: center;
  gap: 12px;
}


.select-find {
  height: 50px;
  padding: 0 12px;
  border-radius: 10px;
  font-family: "IBM Plex Sans KR", sans-serif;
  border : 1px solid black;
}


.input-group {
  border-radius: 15px;
  height: 50px;
  display: flex;
  position: relative;
}

.input-find {
  background-color:white;
  border-radius: 15px;
  height: 50px;
  padding: 0 0 0 20px; 
  outline: none;
  font-size: 16px;
  font-family: "IBM Plex Sans KR", sans-serif;
  width: 365px;
}


.button-find {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.button-write {
  border-radius: 15px;
  border: 0px;
  width: 100px;
  height: 50px;
  padding: 10px;
  background-color: #F38A6E;
  color: white;
  float: right;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* display: none; */
}
.div-find-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.button-write:hover {
  cursor: pointer;
}

.a-write{
  color:white;
   font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.li-review-content:hover .review-title {
  text-decoration: underline;
}

.no-list{
	display: flex;
	justify-content: center;
}

li{
	list-style: none;
}

