* {
  margin: 0;
  padding: 0;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #FFFEF1;
  margin: auto;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
  background-color: #FFFEF1;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 120px;
  min-height: calc(100vh - 235px);
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.font-main {
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle {
  font-size: 30px;
  color: #F38A6E;

  padding-top: 50px;
  height: 110px;
  line-height: 110px;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
}
button:hover{
  cursor: pointer;
}
.input-title {
  border-radius: 15px;
  border: 0px;
  width: 60%;
  height: 30px;
  padding: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.little-title {
  font-size: 24px;
  font-weight: bold;
}

.div-create-course {
  padding-top: 30px;
}

.div-recruit-info {
  padding-left: 200px;
}

.div-info-line {
  padding-bottom: 50px;
}

.div-input-info {
  padding-left: 200px;
  display: flex;
  align-items: center;
}

input {
  border-radius: 15px;
  border: 0px;
  width: 200px;
  height: 20px;
  padding: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.div-button-line {
  display: flex;
  justify-content: space-evenly;
}

.button-ok {
  width: 147px;
  height: 50px;
  font-size: 20px;
  color: white;
}

.button-cancel {
  width: 147px;
  height: 50px;
  font-size: 20px;
  background-color: white;
  color: #ff0000;
  border: 1px solid #ff0000;
}
.textarea-text{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}