@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 폰트 */
.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 바디 */
body {
  background-color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 헤더 */
header {
  margin: auto;
  position: fixed;
  transform: translateX(155px);
  z-index: 2;
  background-color: #bebebe;
  height: 80px;
  width: 895px;
  font-size: 20px;
  line-height: 80px;
}

/* 목록과 로그아웃 버튼 배치 */
header>section{
  display: flex;
  justify-content: space-between;
}

/* 로그아웃 버튼 */
header>section>button {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  margin: 25px 20px;
  background-color: black;
  color: white;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

/* 상단 메뉴 이름 배치 */
header>section>p{
  margin : 0 30px;
} 

/* 하단 메뉴 이름 영역 */
header>section:nth-child(2){
  background-color: #d9d9d9;
  height: 42px;
  display:flex;
  align-items: center;
}

/* 하단 메뉴 이름 리스트 */
header>section:nth-child(2)>ul{
  display: flex;
  margin: 0 10px;
  list-style-type: none;
}

/* 하단 메뉴 이름 리스트 목록 매치 */
header>section:nth-child(2)>ul>li{
  margin: 0 20px;
}

/* 리스트 스타일 제거 */
header>section:nth-child(2)>ul>li>a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* 하단 목록에 마우스 호버시 폰트 사이즈 증가 */
header>section:nth-child(2)>ul>li>a:hover{
  font-size: 18px;
}

/* 메인 */
main{
  height: 100vh;
  display: flex;
  position: relative;
  top: 80px;
}

/* 사이드바 리스트 영역 */
#main-admin-list-menu{
  background-color: #d9d9d9;
  height: 100vh;
  width: 310px;
  position: fixed;
  transform: translate(-155px, -80px);
}

/* 사이드바 리스트 */
#main-admin-list{
  margin: 150px 55px;
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 사이드바 리스트 목록 */
#main-admin-list>li{
  font-size: 20px;
  margin: 20px 0;
}

/* 사이드바 리스트 목록 마우스 호버시 폰트 사이즈 증가 */
#main-admin-list>li:hover{
  font-size: 24px;
}

/* 사이드바 리스트 스타일 제거 */
#main-admin-list>li>a{
  text-decoration: none;
  color: black;
}

/* 메인 영역 */
#main-course{
  background-color: white;
  height: 100vh;
  width: 895px;
  transform: translateX(155px);
}

#main-course-div{
  width: 895px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

/* 수업 목록 리스트 제목 */
#main-course-list-title{
  margin-top: 100px;
  background-color: #d9d9d9;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
}

/* 회원번호 영역 */
.main-course-number{
  width: 84px;
  text-align: center;
}

/* 아이디 영역 */
.main-course-id{
  width: 110px;
  text-align: center;
}

/* 닉네임 영역 */
.main-course-nickname{
  width: 90px;
  text-align: center;
}

/* 제목 영역 */
.main-course-title{
  margin-left: 40px;
  width: 200px;
  text-align: center;
}

/* 개강 여부 영역 */
.main-course-type{
  width: 110px;
  text-align: center;
}

/* 시작 기간 영역 */
.main-course-start{
  width: 110px;
  text-align: center;
}

/* 종료 기간 영역 */
.main-course-end{
  width: 110px;
  text-align: center;
}

/* 수업 목록 리스트 */
#main-course-list{
  width: 875px;
  font-size: 18px;
}

/* 수업 리스트 목록 */
#main-course-list>li{
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 10px;
  border-bottom: 3px solid #a7a7a7;
}

/* 수업 리스트 목록에 마우스 호버시 밑줄 */
a>.main-course-title:hover{
  text-decoration: underline;
}

/* 리스트 스타일 제거 */
.main-course-link{
  display: flex;
  text-decoration: none;
  color:black;
}

/* 제목 위치 배치 */
.main-course-link>p:nth-child(4){
  text-align: left;
}

/* 페이지네이션 */
#main-page-number{
  margin-top: 20px;
  display: flex;
  width: 370px;
  font-size: 20px;
}

/* 텍스트 스타일 제거 */
#main-page-number>a{
  margin: 0 28px;
  text-decoration: none;
  color: black;
}

/* 검색 영역 */
#main-search{
  height: 45px;
  width: 840px;
  font-size: 20px;
  display: flex;
  align-self: start;
  margin: 30px 28px;
}

/* 검색 조건 영역 */
.select-find {
    border-radius: 10px;
    border: 1px solid black;
    height: 45px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

/* 입력창 */
#main-search-input{
  width: 370px;
  height: 45px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid black;
}

/* 검색 form */
form{
  display: flex;
  align-items: center;
}

/* 돋보기 이미지 버튼 */
form>button{
  background-color: white;
  border: 0;
  transform: translateX(-40px);
}

/* 돋보기 이미지 */
form>button>img{
  height: 30px;
  width: 30px;
  border: 0px;
}