@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
.p-expert-detail-comment{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* 폰트 */
.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 헤더 */
header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #757575;
  display: flex;
  justify-content: center;
}

/* 사이트 로고 */
header>a>img{
  height: 110px;
  width: 110px;
}

/* 푸터 영역 */
footer{
  width: 100%;
  height: 125px;
  background-color: #d9d9d9;
}

/* 메인 */
main {
    padding-top: 110px;
    height: 100%;
    width: 100%;
    background-color: #a6a6a6;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: calc(100vh - 235px);
}

/* 메인 영역 */
#main-container {
    width: 1200px;
    /*알아서 넣기*/
    background-color: #FFFEF1;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 235px);
}

/* 버튼 커스텀 */
button{
  border-radius: 20px;
  width: 110px;
  height: 55px;
  background-color: #f59d85;
  border: 0px;
  margin: 45px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* 제목, 목록 영역 */
#detail-container-list{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

/* 제목 */
.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  height: 110px;
  line-height: 110px;
  align-self: center;
  
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 400px;
}

/* 목록 이동 버튼 */
.back-list{
  height: 50px;
  width: 80px;
  background-color: #818181;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

/* 메인 컨테이너 영역 */
.course-detail-container {
  background-color: #FFFEF1;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
}

/* 내용 영역 */
.div-detail-area {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:18px;
}

/* 이미지 영역 */
.div-img {
  display: flex;
  justify-content: center;
}

/* 대표 이미지 */
.img-detail {
  width: 600px;
  height: 500px;
}

/* 작성날짜 영역 */
.div-write-date {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

/* 전문가 제목 */
.p-expert-info-title{
  font-size: 20px;
  color: #F38A6E;
}

/* 전문가 정보 영역 */
.div-expert-detail{
  margin-top:50px;
  
}

/* 개설 버튼 영역 */
#div-admin-detail-button-create{
  margin-top:50px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* 수정 버튼 영역 */
#div-admin-detail-button-update{
  margin-top:50px;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
}

/* 삭제 버튼 영역 */
#div-admin-detail-button-delete{
  margin-top:50px;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
}

/* 모집 정보 마진 */
.div-expert-info-detail{
  margin-left : 100px;
}

/* 반려 버튼 커스텀 */
.button-cancel{
  background-color: white;
  border: 2px solid red;
  color: red;
}

/* 모달 전체 창 */
#modal-background{
  height: 100vh;
  width: 100%;
  background-color: #0000003e;
  position: sticky; 
  top: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

/* 모달 창 */
#cancel-modal{
  background-color: white;
  height: 430px;
  width: 700px;
  display: flex;
  border-radius: 20px;
}

/* 모달 나가기 버튼 */
#cancel-modal>button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #818181;
  transform: translate(90px,-20px);
}

/* 반려 모달 입력 */
#cancel-modal-in{
  transform: translate(100px, 70px);
  height: 300px;
  width: 500px;
}

/* 반려 모달 제목 */
#cancel-modal-in>p{
  font-size: 25px
}

/* 반려 모달 입력 영역 */
#cancel-input{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 반려 모달 입력 */
#cancel-input>textarea{
  padding: 10px;
  font-size: 16px;
  resize: none;
  height: 200px;
  width: 500px;
  border-radius: 20px;
}

/* 반려 모달 등록 버튼 */
#submit{
  background-color: #818181;
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 7px;
  color: white;
  margin: 20px;
}