* {
  margin: 0;
  padding: 0;
}

.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  margin: auto;
  position: fixed;
  transform: translateX(155px);
  z-index: 2;
  background-color: #bebebe;
  height: 80px;
  width: 895px;
  font-size: 20px;
  line-height: 80px;
  justify-content: space-between;
}

button{
  cursor: pointer;  
}

header>p{
  margin : 0 30px;
} 

header>button {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  margin: 25px 20px;
  background-color: black;
  color: white;
  border: 0;
  font-size: 16px;
}


main{
  height: 100vh;
  display: flex;
  position: relative;
  top: 80px;
}

#main-admin-list-menu{
  background-color: #d9d9d9;
  height: 100vh;
  width: 310px;
  position: fixed;
  transform: translate(-155px, -80px);
}

#main-admin-list{
  margin: 150px 55px;
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-admin-list>li{
  font-size: 20px;
  margin: 20px 0;
}

#main-admin-list>li:hover{
  font-size: 24px;
}

#main-admin-list>li>a{
  text-decoration: none;
  color: black;
}


#main-routine{
  background-color: white;
  height: 100vh;
  width: 895px;
  transform: translateX(155px);
}

#main-routine-div{
  width: 895px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#main-routine-list-title{
  margin-top: 100px;
  background-color: #d9d9d9;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
}

#main-routine-list{
  width: 875px;
  font-size: 16px;
}

a>.main-routine-title:hover{
  text-decoration: underline;
}

.main-routine-number{
  width: 84px;
  text-align: center;
}

.main-routine-name{
  width: 110px;
  text-align: center;
}
.main-routine-title{
  width: 240px;
  text-align: center;
}
.main-routine-count{
  width: 90px;
  text-align: center;
}
.main-routine-type{
  width: 110px;
  text-align: center;
}
.main-routine-start{
  width: 110px;
  text-align: center;
}
.main-routine-end{
  width: 110px;
  text-align: center;
}

#main-routine-list>li{
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 10px;
  border-bottom: 3px solid #a7a7a7;
}

.main-routine-link{
  display: flex;
  text-decoration: none;
  color:black;
}

#main-page-number{
  margin-top: 20px;
  display: flex;
  width: 370px;
  font-size: 20px;
}

#main-page-number>a{
  margin: 0 28px;
  text-decoration: none;
  color: black;
}

/* 검색 영역 */
#main-search{
  height: 45px;
  width: 840px;
  font-size: 20px;
  display: flex;
  align-self: start;
  margin: 30px 28px;
}

/* 검색 조건 영역 */
.select-find {
    border-radius: 10px;
    border: 1px solid black;
    height: 45px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

/* 입력창 */
#main-search-input{
  width: 370px;
  height: 45px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid black;
}

/* 검색 form */
form{
  display: flex;
  align-items: center;
}

/* 돋보기 이미지 버튼 */
form>button{
  background-color: white;
  border: 0;
  transform: translateX(-40px);
}

/* 돋보기 이미지 */
form>button>img{
  height: 30px;
  width: 30px;
  border: 0px;
}

#main-create-routine{
  height: 40px;
  width: 70px;
  position: relative;
  left: 300px;
  font-size: 16px;
  background-color: #818181;
  border-radius: 10px;
  color: white;
}