@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #FFFEF1;
  margin: auto;
  align-items: center;
  justify-content: center;
}

main { 
  height: 1700px; 
  min-height: calc(100vh - 235px);
  width: 100%;
  background-color: #FFFEF1;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: calc(100vh - 235px);
}
.back-btn{
  background-color: #FFFACD;
}
button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-main {
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle {
  font-size: 30px;
  color: #F38A6E;

  padding-top: 50px;
  height: 110px;
  line-height: 110px;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.p-title {
  color: #F38A6E;
  font-size: 36px;
  text-align: center;
}

.course-detail-container {
  background-color: #FFFEF1;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
}

.div-detail-area {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.img-detail {
  width: 600px;
  height: 500px;
}

.div-img {
  display: flex;
  justify-content: center;
}

.div-write-date {
  display: flex;
  justify-content: flex-end;
}

.p-expert-info-title {
  font-size: 20px;
  color: #F38A6E;
}

.div-expert-detail {
  margin-top: 50px;

}

.div-expert-detail-button {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.div-expert-info-detail {
  margin-left: 100px;
}

.div-expert-edit-button {
  margin-top: 50px;
  display: none;
  justify-content: space-around;
  margin-bottom: 100px;
}

.div-expert-edit-ing-button,
.div-expert-delete-ing-button,
.div-expert-before-button,
.div-expert-after-button {
  margin-top: 50px;
  display: none;
  justify-content: center;
  margin-bottom: 100px;
}

.button-application {
  width: 50%;
  height: 50px;
  color: white;
  border-radius: 13px;
  padding: 0px 20px;
  font-size: 20px;
  background-color: #f59d85;
  border: 0px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-cancel {
  width: 50%;
  height: 50px;
  font-size: 30px;
  background-color: white;
  border-radius: 13px;
  padding: 0px 20px;
  font-size: 20px;
  color: #ff0000;
  border: 1px solid #ff0000;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-edit {
  height: 50px;
  color: white;
  border-radius: 13px;
  padding: 0px 20px;
  font-size: 20px;
  background-color: #f59d85;
  border: 0px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-delete {
  height: 50px;
  font-size: 30px;
  background-color: white;
  border-radius: 13px;
  padding: 0px 20px;
  font-size: 20px;
  color: #ff0000;
  border: 1px solid #ff0000;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.button-before{
  width: 50%;
  height: 50px;
  font-size: 30px;
  background-color: gray;
  border-radius: 13px;
  padding: 0px 20px;
  font-size: 20px;
  color: black;
  border: 1px solid gray;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-status{
  width: 50%;
  height: 50px;
  font-size: 30px;
  background-color: #c0c0c0;
  border-radius: 13px;
  padding: 0px 20px;
  font-size: 20px;
  color: black;
  border: 1px solid gray;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-edit-ing,
.button-delete-ing,
.button-after {
  height: 50px;
  color: black;
  border-radius: 13px;
  padding: 0px 20px;
  font-size: 20px;
  background-color: #d9d9d9;
  border: 0px;
  width: 50%;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.modal-background {
  height: 100vh;
  width: 100%;
  background-color: #0000003e;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

.cancel-modal {
  background-color: #FFFEF1;
  height: 430px;
  width: 700px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.span-delete-title {
  color: #F38A6E;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  text-align: center;
}

.input-delete-modal {
  width: 100%;
  height: 250px;
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.textarea-delete-modal {
  width: 100%;
  height: 250px;
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  resize: none;
  border-radius: 13px;
}

.div-modal-head {
  text-align: center;
  margin-bottom: 30px;
}

.div-modal-x {
  text-align: end;
}

.button-x {
  background-color: #FFFEF1;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-modal-delete {
  width: 100%;
  height: 50px;
  font-size: 30px;
  background-color: white;
  border-radius: 13px;
  padding: 0px 20px;
  margin-top: 50px;
  font-size: 20px;
  color: #ff0000;
  border: 1px solid #ff0000;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-back {
  float: right;
  font-size: 24px;
  margin-top: 15px ;
}

.p-back:hover {
  cursor: pointer;
}

.div-expert-info-detail>p {
  padding-top: 15px;
}


