<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="address">	
	<update id="" parameterType = "">
		<!-- update tbl_address -->
	</update>
	<insert id="insert" parameterType="AddressDTO">
		<selectKey keyProperty="addressNumber" resultType="int" order="AFTER">
			SELECT seq_address.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO tbl_address(ADDRESS_NUMBER, ZIP_CODE, ADDRESS, ADDRESS_DETAIL)
		values(SEQ_ADDRESS.NEXTVAL , #{zipCode}, #{address}, #{addressDetail});
	</insert>
</mapper>