<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminCourseRequest">
	<select id="selectAll" resultType="AdminCourseRequestListDTO">
	<![CDATA[
		SELECT * FROM (
    		SELECT ROWNUM AS rnum, subquery.* FROM (
        	SELECT cr.course_number, m.member_number, m.member_id, m.member_name, c.COURSE_TITLE,TO_CHAR(c.COURSE_START_DATE, 'YYYY-MM-DD') AS COURSE_START_DATE,
            TO_CHAR(c.COURSE_END_DATE, 'YYYY-MM-DD') AS COURSE_END_DATE,t.COURSE_REQUEST_TYPE 
        	FROM TBL_COURSE_request cr
        	JOIN TBL_COURSE c
        	ON cr.COURSE_NUMBER = c.COURSE_NUMBER
        	JOIN TBL_COURSE_OPEN_STATUS s
        	ON cr.COURSE_OPEN_STATUS_NUMBER = s.COURSE_OPEN_STATUS_NUMBER
        	JOIN TBL_COURSE_REQUEST_TYPE t
            ON cr.COURSE_REQUEST_TYPE_NUMBER = t.COURSE_REQUEST_TYPE_NUMBER
        	JOIN TBL_EXPERT e
    		ON c.EXPERT_NUMBER = e.EXPERT_NUMBER
			JOIN TBL_MEMBER m
    		ON e.MEMBER_NUMBER = m.MEMBER_NUMBER
            ORDER BY c.COURSE_START_DATE 
    	) subquery
	)
	WHERE rnum BETWEEN #{startRow} AND #{endRow}
		
	]]>
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(course_number)
		FROM tbl_course_request	
	</select> 
	<select id="select" parameterType="int" resultType="AdminCourseRequestDTO">
	<![CDATA[
	 SELECT 
    cr.COURSE_OPEN_STATUS_NUMBER, cr.COURSE_REQUEST_TYPE_NUMBER,
    TO_CHAR(cr.COURSE_REGISTER_DATE, 'YYYY-MM-DD') AS COURSE_REGISTER_DATE, 
    TO_CHAR(cr.COURSE_REQUEST_DATE, 'YYYY-MM-DD') AS COURSE_REQUEST_DATE, 
    TO_CHAR(cr.COURSE_RESULT_DATE, 'YYYY-MM-DD') AS COURSE_RESULT_DATE,
    cr.COURSE_REJECT_REASON,
    c.COURSE_NUMBER, c.COURSE_TITLE, c.COURSE_CONTENT,
    c.EXPERT_NUMBER, m.member_name, e.expert_license_info, e.expert_career, f.field_name,
    c.COURSE_RECRUIT_STATUS_NUMBER,
    (select count(*) from tbl_course_member_applicant cma where
    cma.course_number = c.course_number) AS course_count, 
    TO_CHAR(c.COURSE_POST_DATE, 'YYYY-MM-DD') AS COURSE_POST_DATE, 
    TO_CHAR(c.COURSE_POST_UPDATE_DATE, 'YYYY-MM-DD') AS COURSE_POST_UPDATE_DATE,
    TO_CHAR(c.COURSE_RECRUIT_START_DATE, 'YYYY-MM-DD') AS COURSE_RECRUIT_START_DATE, 
    TO_CHAR(c.COURSE_RECRUIT_END_DATE, 'YYYY-MM-DD') AS COURSE_RECRUIT_END_DATE,
    TO_CHAR(c.COURSE_START_DATE, 'YYYY-MM-DD') AS COURSE_START_DATE, 
    TO_CHAR(c.COURSE_END_DATE, 'YYYY-MM-DD') AS COURSE_END_DATE,
    TO_CHAR(c.COURSE_START_TIME, 'HH24:MI') AS COURSE_START_TIME, 
    TO_CHAR(c.COURSE_END_TIME, 'HH24:MI') AS COURSE_END_TIME,
    c.COURSE_DAY_OF_WEEK, c.COURSE_RECRUIT_COUNT, c.COURSE_PRICE
	FROM TBL_COURSE_REQUEST cr
	JOIN TBL_COURSE c
    ON cr.COURSE_NUMBER = c.COURSE_NUMBER
    JOIN tbl_expert e
    ON e.expert_number = c.expert_number
    JOIN tbl_member m
    ON e.member_number = m.MEMBER_number 
    JOIN tbl_field f
    ON f.field_number = e.expert_field_number 
    where cr.COURSE_NUMBER = #{courseNumber}
	]]>
	</select>
	<!-- 여기 update 문 status number 다시 한번 확인  -->
	<!-- 신청, 수정 승인 -->
	<update id="approve" parameterType="int">
		update tbl_course_request set COURSE_OPEN_STATUS_NUMBER = 2, 
		COURSE_RESULT_DATE = to_date(sysdate, 'YYYY-MM-DD')
		where course_number = #{courseNumber}
	</update>
	<!-- 삭제 승인  -->
	<delete id="deleteApprove" parameterType="int">
		delete from tbl_course where course_number = #{courseNumber}
	</delete>
	<!-- 반려 사유  -->
	<update id="rejection" parameterType="AdminCourseRequestDTO">
		update tbl_course_request set COURSE_OPEN_STATUS_NUMBER = 3, 
		COURSE_RESULT_DATE = to_date(sysdate, 'YYYY-MM-DD'),
		course_resect_reason = #{courseRejectReason}
		where course_number = #{courseNumber}
	</update>
</mapper>
