<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMember">
	<select id="selectAll" resultType="MemberDTO">
	<![CDATA[
		SELECT * FROM (
    		SELECT ROWNUM AS rnum, subquery.*
    			FROM (
        			SELECT *
        				FROM (
            				SELECT 
                			m.MEMBER_NUMBER, m.MEMBER_ID, m.MEMBER_PASSWORD,
                			m.MEMBER_ADDRESS_NUMBER, m.MEMBER_EMAIL, m.MEMBER_NAME,
                			m.MEMBER_GENDER, m.MEMBER_NICKNAME, m.MEMBER_PHONE_NUMBER,
                			TO_CHAR(m.MEMBER_BIRTH_DATE, 'YYYY-MM-DD')
            				FROM TBL_MEMBER m
            				ORDER BY m.MEMBER_NUMBER DESC
        					) subquery
    				)
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	<select id="getTotal" resultType="int">
		SELECT COUNT(member_number)
		FROM tbl_member	
	]]>	
	</select>
	<select id="getTotal" resultType="int">
		SELECT COUNT(member_number)
		FROM tbl_member	
	</select>

</mapper>