<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMember">
	<select id="selectAll" resultType="AdminMemberListDTO">
	<![CDATA[
		SELECT * FROM (
    		SELECT ROWNUM AS rnum, subquery.*
    			FROM (
            				SELECT 
                			m.MEMBER_NUMBER, m.MEMBER_ID, m.MEMBER_NICKNAME,m.member_phone_number,  
                			a.address, a.address_detail, m.member_signup_date   
            				FROM TBL_MEMBER m
            				join tbl_address a on m.member_address_number = a.address_number
            				ORDER BY m.member_signup_date DESC
        					) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}
	]]>	
	</select>
	<select id="getTotal" resultType="int">
		SELECT COUNT(member_number)
		FROM tbl_member	
	</select>

</mapper>