<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminExpertApplicant">
	<select id="selectAll" resultType="AdminExpertApplicantListDTO">
		<![CDATA[
		SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
					FROM (			
					SELECT
						ecs.EXPERT_CERT_STATUS_INFO, m.MEMBER_ID, m.member_nickname,
						ad.address, ad.address_detail,
						TO_CHAR(ea.EXPERT_CHECK_DATE,'YYYY-MM-DD') AS EXPERT_CHECK_DATE,
						fe.file_system_name , m.MEMBER_PHONE_NUMBER 
						FROM TBL_EXPERT_APPLICANT ea 
						JOIN TBL_MEMBER m
						ON ea.MEMBER_NUMBER = m.MEMBER_NUMBER 
						JOIN tbl_address ad
						ON m.member_address_number = ad.address_number
						JOIN TBL_EXPERT_CERT_STATUS ecs
						ON ea.EXPERT_STATUS_NUMBER = ecs.EXPERT_CERT_STATUS_NUMBER
						LEFT JOIN TBL_FILE_EXPERT fe
						ON ea.MEMBER_NUMBER = fe.MEMBER_NUMBER
						WHERE ecs.EXPERT_CERT_STATUS_INFO = '확인 중'
						ORDER BY ea.EXPERT_CHECK_DATE DESC
		) subquery
	)
		WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	<select id="getTotal" resultType="int">
		SELECT COUNT(expert_status_number)
		FROM TBL_EXPERT_APPLICANT
		where expert_status_number = 2	
	</select> 
	<!--전문가 승인 -->
	<insert id="insert" parameterType="AdminExpertApplicantDTO">
		insert into
		tbl_expert(EXPERT_NUMBER,MEMBER_NUMBER,EXPERT_LICENSE_INFO,EXPERT_CAREER,EXPERT_FIELD_NUMBER)
		values(seq_expert.nextval,#{memberNumber},#{expertLisenseInfo},#{expertCareer},#{expertFieldNumber})
	</insert>
	<!--전문가 반려 -->
	<!-- statusnumber 다시 확인 -->
	<update id="update" parameterType="ExpertApplicantDTO">
		update tbl_expert_applicant
		set expert_applicant_reason = #{expertApplicantReason},
		expert_status_number = 3
		where member_number = #{memberNumber}
	</update>
</mapper>