<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="courseReviewComment">
	<update id="update" parameterType="CourseReviewCommentDTO">
		update TBL_COURSE_REVIEW_COMMENT
		SET
		COURSE_REVIEW_UPDATED_DATE = sysdate, 
		COURSE_REVIEW_CONTENT = #{courseReviewContent}
		where MEMBER_NUMBER = #{memberNumber} and COURSE_REVIEW_COMMENT_NUMBER = #{courseReviewCommentNumber}
	</update>
	
	<delete id="delete" parameterType="CourseReviewCommentDTO">
		delete from TBL_COURSE_REVIEW_COMMENT
		where MEMBER_NUMBER = #{memberNumber} and COURSE_REVIEW_COMMENT_NUMBER = #{courseReviewCommentNumber}
	</delete>
	
	<insert id="insert" parameterType="CourseReviewCommentDTO">
		INSERT INTO TBL_COURSE_REVIEW_COMMENT (COURSE_REVIEW_COMMENT_NUMBER, COURSE_REVIEW_NUMBER, MEMBER_NUMBER, COURSE_REVIEW_CREATED_DATE, COURSE_REVIEW_UPDATED_DATE, COURSE_REVIEW_CONTENT) 
		VALUES (seq_course_review_comment.nextval, #{courseReviewNumber}, #{memberNumber}, sysdate, sysdate, #{courseReviewContent})
	</insert>
</mapper>