<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="courseList">
	<select id="list" parameterType="CourseListDTO"
		resultType="CourseListDTO">

		<!-- INSERT INTO tbl_course(COURSE_NUMBER, COURSE_TITLE, COURSE_CONTENT, 
			EXPERT_NUMBER, COURSE_RECRUIT_STATUS_NUMBER, COURSE_RECRUIT_START_DATE, COURSE_RECRUIT_END_DATE, 
			COURSE_START_DATE, COURSE_END_DATE, COURSE_START_TIME,COURSE_END_TIME, COURSE_DAY_OF_WEEK, 
			COURSE_RECRUIT_COUNT, COURSE_PRICE) values(SEQ_COURSE.NEXTVAL, '신밧드의 모험', 
			'같이 떠나는 모험을 떠나요', 2, 3, TO_DATE('2025-08-30', 'YYYY-MM-DD'), TO_DATE('2025-08-30', 
			'YYYY-MM-DD') , TO_DATE('2025-08-30', 'YYYY-MM-DD'), TO_DATE('2025-08-30', 
			'YYYY-MM-DD'), TO_DATE('09:00', 'HH24:MI'), TO_DATE('16:30', 'HH24:MI'), 
			'MT', 30, 29500); -->
		<!-- 3 X 3으로 출력되어야함 추후 잡아보기 -->
	<![CDATA[
	SELECT * FROM (
      SELECT ROWNUM AS rnum, subquery.*
      FROM (
		select c.course_number,fc.file_system_name , c.course_title ,
		cr.COURSE_STATUS_INFO, c.course_post_date, m.member_name
		FROM tbl_course c
			LEFT OUTER JOIN tbl_expert e
				ON c.expert_number = e.EXPERT_NUMBER
			LEFT OUTER JOIN tbl_member m
				ON e.MEMBER_NUMBER = m.MEMBER_NUMBER
			LEFT OUTER JOIN tbl_course_recruit_status cr
				ON c.COURSE_RECRUIT_STATUS_NUMBER = cr.COURSE_RECRUIT_STATUS_NUMBER
			LEFT OUTER JOIN tbl_file_course fc
				ON c.course_number = fc.course_number
		ORDER BY c.course_post_date DESC
      ) subquery
   	) WHERE rnum BETWEEN #{startRow} AND #{endRow} 
	]]>
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*)
		from tbl_course
	</select>
	
	<!-- 수업 내용 -->
	<insert id="insert" parameterType="CourseDTO">
		<selectKey keyProperty="courseNumber" resultType="int" order="BEFORE">
			select seq_course.nextval from dual
		</selectKey>
		insert into tbl_course(course_number, course_title, course_content, expert_number, course_recruit_status_number,
			COURSE_RECRUIT_START_DATE, COURSE_RECRUIT_END_DATE, COURSE_START_DATE, COURSE_END_DATE,
			 COURSE_START_TIME, COURSE_END_TIME, COURSE_DAY_OF_WEEK, COURSE_RECRUIT_COUNT, COURSE_PRICE)
		values(#{courseNumber}, #{courseTitle}, #{courseContent}, #{expertNumber}, #{courseRecruitStatusNumber},
			#{courseRecruitStartDate}, #{courseRecruitEndDate}, #{courseStartDate}, #{courseEndDate},
			#{courseStartTime}, #{courseEndTime}, #{courseDayOfWeek}, #{courseRecruitCount}, #{coursePrice})
	</insert>
	
	<!-- 수업 개설 요청 -->
	<insert id="request" parameterType="CourseRequestDTO">
		insert into TBL_COURSE_REQUEST(course_number, COURSE_OPEN_STATUS_NUMBER, COURSE_REQUEST_TYPE_NUMBER, )
	</insert>
	
	<insert id="delete" parameterType="CourseDTO">
		
	</insert>
	
	<select id="select" parameterType="CourseListDTO">
		<![CDATA[
			select course_number, m.member_number, e.expert_number, course_title, course_post_date, e.member_name, 
				field_name, e.EXPERT_LICENSE_INFO, e.EXPERT_CAREER, course_content, c.COURSE_RECRUIT_START_DATE
				c.COURSE_RECRUIT_END_DATE, c.COURSE_START_DATE, c.COURSE_END_DATE, c.COURSE_START_TIME, c.COURSE_END_TIME
				c.COURSE_DAY_OF_WEEK, c.COURSE_RECRUIT_COUNT, c.COURSE_PRICE
				from
		]]>
	</select>
</mapper>