<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileCourse">
	<!-- 파일 추가 -->
	<insert id="insert" parameterType="FileCourseDTO">
		insert into tbl_file_course
		values(#{fileSystemName}, #{fileOriginalName}, #{courseNumber})
	</insert>
	
	<!-- 파일 조회 -->
	<select id="select" parameterType="int" resultType="FileCourseDTO">
		select file_system_name, file_original_name, course_number
		from tbl_file_course
		where course_number = #{courseNumber}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from tbl_file_course
		where course_number = #{course_number}
	</delete>

</mapper>