<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="fileMemberProfile">
	<select id="selectList" parameterType="int" resultType="FileMemberProfileDTO">
		<![CDATA[
		SELECT f.file_system_name, f.file_original_name, f.member_number
		FROM TBL_MEMBER m JOIN TBL_FILE_MEMBER_PROFILE f
			ON m.Member_NUMBER = #{memberNumber}
		]]>
	</select>
	<insert id="insert" parameterType="FileMemberProfileDTO">
		INSERT INTO TBL_FILE_MEMBER_PROFILE(FILE_SYSTEM_NAME, FILE_ORIGINAL_NAME, MEMBER_NUMBER)
		VALUES(#{fileSystemName}, #{fileOriginalName}, #{memberNumber})
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM TBL_FILE_MEMBER_PROFILE 
		WHERE MEMBER_NUMBER = #{memberNumber}
	</delete>
</mapper>