<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<!-- 로그인 쿼리 작성 -->
	<select id="login" parameterType="MemberDTO" resultType="int">
		SELECT MEMBER_NUMBER
		FROM TBL_MEMBER
		WHERE MEMBER_ID = #{memberId} and MEMBER_PASSWORD = #{memberPassword}
	</select>
	
	<select id="getId" parameterType="int" resultType="string">
		SELECT MEMBER_ID
		FROM TBL_MEMBER
		WHERE MEMBER_NUMBER = #{memberNumber}
	</select>
</mapper>