<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mySmallClubList">
	<select id="selectList" resultType="SmallClubListDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT small_club_number, small_club_title, m.member_nickname, to_char(small_club_created_date, 'yyyy.mm.dd(day)') as small_club_created_date,
					to_char(small_club_start_date, 'yyyy.mm.dd(day)') as small_club_start_date
					FROM tbl_small_club sc LEFT OUTER JOIN tbl_member m ON sc.member_number = m.member_number
					WHERE m.member_number = #{memberNumber}
					ORDER BY small_club_created_date DESC
				) subquery
			) WHERE rnum BETWEEN #{startRow} AND #{endRow} 
		]]>
	</select>
	
	<!-- 게시글 총 개수 -->
	<select id="getTotal" parameterType="int" resultType="int">
		select count(member_number)
		from
		tbl_small_club
		WHERE member_number = #{memberNumber}
	</select>
</mapper>