<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 전체 테이블 조회 -->
<mapper namespace="noticeList">
	<select id="selectAll" resultType="NoticeListDTO">
    <![CDATA[
    SELECT * FROM (
    	SELECT ROWNUM rnum, subquery.*
		FROM (
		SELECT
		l.NOTICE_NUMBER	AS noticeNumber,
		l.NOTICE_TITLE	AS noticeTitle,
		a.ADMIN_NUMBER AS adminNumber,
		a.ADMIN_NICKNAME AS adminNickname,
		TO_CHAR(l.NOTICE_CREATED_DATE,'YYYY.MM.DD') AS noticeCreatedDate
		FROM TBL_NOTICE l JOIN TBL_ADMIN a
		ON a.ADMIN_NUMBER = l.ADMIN_NUMBER
        ORDER BY l.NOTICE_NUMBER DESC
      ) subquery
    ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
    ]]>
	</select>

<!-- 게시글 총 개수 -->
	<select id="getTotal" resultType="int">
  	SELECT COUNT(l.NOTICE_NUMBER)
  	FROM TBL_NOTICE l
	</select>

</mapper>



