<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="routineReviewLike">
	<select id="select" parameterType="int" resultType="RoutineReviewLikeDTO">
		<![CDATA[
			select ROUTINE_REVIEW_NUMBER, MEMBER_NUMBER from TBL_ROUTINE_REVIEW_LIKE
			where MEMBER_NUMBER = #{memberNumber}
		]]>
	</select>
	
	<select id="isLike" parameterType="routineReviewLikeDTO" resultType="int">
		<![CDATA[
			select count(ROUTINE_REVIEW_NUMBER) from TBL_ROUTINE_REVIEW_LIKE
			where MEMBER_NUMBER = #{memberNumber} and ROUTINE_REVIEW_NUMBER = #{routineReviewNumber}
		]]>
	</select>
	
	<insert id="insert" parameterType="routineReviewLikeDTO">	
		INSERT INTO TBL_ROUTINE_REVIEW_LIKE (ROUTINE_REVIEW_NUMBER, MEMBER_NUMBER) 
			VALUES (#{routineReviewNumber}, #{memberNumber})
	</insert>
	
	<delete id="delete" parameterType="RoutineReviewLikeDTO">
		delete from TBL_ROUTINE_REVIEW_LIKE
		where MEMBER_NUMBER = #{memberNumber} and ROUTINE_REVIEW_NUMBER = #{routineReviewNumber}
	</delete>
	
	<select id="getCount" parameterType="int" resultType="int">
		select count(ROUTINE_REVIEW_NUMBER) from TBL_ROUTINE_REVIEW_LIKE
		where ROUTINE_REVIEW_NUMBER = #{routineReviewNumber}
	</select>
</mapper>