<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="routineList">
	<select id="selectAll" resultType="RoutineListDTO">
		<![CDATA[
		SELECT * FROM (
		SELECT ROWNUM AS rnum, subquery.*
		FROM (
			SELECT r.ROUTINE_NUMBER, r.ROUTINE_LEADER_NUMBER, rl.ROUTINE_LEADER_NAME, r.ADMIN_NUMBER, r.ROUTINE_TITLE, r.ROUTINE_CONTENT, r.ROUTINE_STATUS_NUMBER, rs.ROUTINE_STATUS_INFO, r.ROUTINE_LOCATION, r.ROUTINE_CREATED_DATE, r.ROUTINE_UPDATED_DATE, r.ROUTINE_RECRUIT_START_DATE, r.ROUTINE_RECRUIT_END_DATE, r.ROUTINE_START_DATE, r.ROUTINE_END_DATE, r.ROUTINE_START_TIME, r.ROUTINE_END_TIME, r.ROUTINE_DAY_OF_WEEK, r.ROUTINE_RECRUIT_COUNT FROM tbl_routine r
			FULL OUTER JOIN tbl_routine_status rs ON r.ROUTINE_STATUS_NUMBER = rs.ROUTINE_STATUS_NUMBER
			FULL OUTER JOIN tbl_routine_leader rl ON r.ROUTINE_LEADER_NUMBER  = rl.ROUTINE_LEADER_NUMBER
			LEFT JOIN TBL_FILE_ROUTINE fr ON fr.ROUTINE_NUMBER = r.ROUTINE_NUMBER
			ORDER BY r.ROUTINE_CREATED_DATE DESC
			) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
	<select id="select" parameterType="int" resultType="RoutineListDTO">
		<![CDATA[
		SELECT r.ROUTINE_NUMBER, r.ROUTINE_LEADER_NUMBER, rl.ROUTINE_LEADER_NAME, r.ADMIN_NUMBER, r.ROUTINE_TITLE, r.ROUTINE_CONTENT, r.ROUTINE_STATUS_NUMBER, rs.ROUTINE_STATUS_INFO, r.ROUTINE_LOCATION, r.ROUTINE_CREATED_DATE, r.ROUTINE_UPDATED_DATE, r.ROUTINE_RECRUIT_START_DATE, r.ROUTINE_RECRUIT_END_DATE, r.ROUTINE_START_DATE, r.ROUTINE_END_DATE, r.ROUTINE_START_TIME, r.ROUTINE_END_TIME, r.ROUTINE_DAY_OF_WEEK, r.ROUTINE_RECRUIT_COUNT FROM tbl_routine r
			FULL OUTER JOIN tbl_routine_status rs ON r.ROUTINE_STATUS_NUMBER = rs.ROUTINE_STATUS_NUMBER
			FULL OUTER JOIN tbl_routine_leader rl ON r.ROUTINE_LEADER_NUMBER  = rl.ROUTINE_LEADER_NUMBER
			LEFT JOIN TBL_FILE_ROUTINE fr ON fr.ROUTINE_NUMBER = r.ROUTINE_NUMBER
			WHERE r.ROUTINE_NUMBER = #{routineNumber}
		]]>
	</select>
</mapper>