<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smallClubMemberApplicant">
	<select id="select" parameterType="map" resultType="int">
		select
		count(SMALL_CLUB_NUMBER) from tbl_small_club_member_applicant
		where
		SMALL_CLUB_NUMBER = #{smallClubNumber} and member_number = #{memberNumber}
	</select>
	
	<insert id="insert" parameterType="SmallClubMemberApplicantDTO">
		insert into
		tbl_small_club_member_applicant(SMALL_CLUB_NUMBER, MEMBER_NUMBER, SMALL_CLUB_MEMBER_APPLY_DATE)
		values(#{smallClubNumber}, #{memberNumber}, sysdate)
	</insert>

	<delete id="delete" parameterType="map">
		delete from
		tbl_small_club_member_applicant
		where SMALL_CLUB_NUMBER = #{smallClubNumber}
		and
		member_number = #{memberNumber}
	</delete>
	
	<select id="getCount" parameterType="int" resultType="int">
		SELECT
		count(a.MEMBER_NUMBER)
		FROM TBL_SMALL_CLUB_MEMBER_APPLICANT a
		JOIN (SELECT
		SMALL_CLUB_NUMBER FROM TBL_SMALL_CLUB WHERE SMALL_CLUB_NUMBER =
		#{smallClubNumber}) r
		ON r.SMALL_CLUB_NUMBER = a.SMALL_CLUB_NUMBER
	</select>
</mapper>