<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smallClubCommentList">
	<select id="selectList" parameterType="int" resultType="SmallClubCommentListDTO">
		<![CDATA[
		SELECT * FROM (
		SELECT ROWNUM AS rnum, subquery.*
		FROM (
			SELECT s.small_club_COMMENT_NUMBER, s.small_club_NUMBER, m.MEMBER_NUMBER, m.MEMBER_NICKNAME, f.FILE_SYSTEM_NAME, s.small_club_CREATED_DATE, s.small_club_UPDATED_DATE, s.small_club_CONTENT from tbl_small_club_comment s 
			JOIN tbl_member m ON s.MEMBER_NUMBER = m.MEMBER_NUMBER
			LEFT JOIN TBL_FILE_MEMBER_PROFILE f ON m.MEMBER_NUMBER = f.MEMBER_NUMBER
			WHERE s.small_club_NUMBER = #{smallClubNumber}
			ORDER BY s.small_club_CREATED_DATE desc
		) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
	<select id="getTotal" parameterType="int" resultType="int">
		SELECT count(*) from tbl_small_club_comment
		where small_club_NUMBER = #{smallClubNumber}
	</select> 
</mapper>