<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 카멜 케이스 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<!-- 쿼리 결과 필드가 null인 경우 누락되지 않도록 설정 -->
		<setting name="callSettersOnNulls" value="true" />

		<!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- DTO 별칭 설정 추후 추가 -->
	<typeAliases>
		<typeAlias type="com.sol.app.dto.MemberDTO"
			alias="MemberDTO"></typeAlias>
		<typeAlias type="com.sol.app.dto.AdminDTO" alias="AdminDTO"></typeAlias>
		<typeAlias type="com.sol.app.dto.MyMemberDTO"
			alias="MyMemberDTO"></typeAlias>
		<typeAlias type="com.sol.app.dto.MemberSignupDTO"
			alias="MemberSignupDTO"></typeAlias>
		<typeAlias type="com.sol.app.dto.AdminNoticeListDTO"
			alias="AdminNoticeListDTO"></typeAlias>
		<typeAlias type="com.sol.app.dto.AdminNoticeDTO"
			alias="AdminNoticeDTO"></typeAlias>
		<typeAlias type="com.sol.app.dto.NoticeDTO"
         alias="NoticeDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.MyRoutineDTO"
         alias="MyRoutineDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.MyCourseDTO"
         alias="MyCourseDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.MyReviewDTO"
         alias="MyReviewDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.MyCommentDTO"
         alias="MyCommentDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.MyCourseRequestDTO"
         alias="MyCourseRequestDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.RoutineListDTO"
         alias="RoutineListDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.RoutineMemberApplicantDTO"
         alias="RoutineMemberApplicantDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.RoutineReviewLikeDTO"
         alias="RoutineReviewLikeDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.RoutineReviewCommentDTO"
         alias="RoutineReviewCommentDTO"></typeAlias>
        <typeAlias type="com.sol.app.dto.CourseReviewCommentDTO"
         alias="CourseReviewCommentDTO"></typeAlias>
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521/xe" />
				<property name="username" value="kdt03" />
				<property name="password" value="rebooting0829" />
			</dataSource>
		</environment>
	</environments>

	<!-- mapper.xml 추후 추가 -->
	<mappers>
		<mapper resource="com/sol/mapper/MemberMapper.xml" />
		<mapper resource="com/sol/mapper/AdminMapper.xml" />
		<mapper resource="com/sol/mapper/MyMemberMapper.xml" />
		<mapper resource="com/sol/mapper/AdminNoticeMapper.xml" />
		<mapper resource="com/sol/mapper/MyRoutineMapper.xml" />
		<mapper resource="com/sol/mapper/MyCourseMapper.xml" />
		<mapper resource="com/sol/mapper/MyReviewMapper.xml" />
		<mapper resource="com/sol/mapper/MyCommentMapper.xml" />
		<mapper resource="com/sol/mapper/MyCourseRequestMapper.xml" />
		<mapper resource="com/sol/mapper/RoutineListMapper.xml" />
		<mapper resource="com/sol/mapper/RoutineMemberApplicantMapper.xml" />
		<mapper resource="com/sol/mapper/RoutineReviewLikeMapper.xml" />
		<mapper resource="com/sol/mapper/RoutineReviewCommentMapper.xml" />
		<mapper resource="com/sol/mapper/CourseReviewCommentMapper.xml" />
		<!-- <mapper resource="com/sol/mapper/AddressMapper.xml" /> <mapper resource="com/sol/mapper/CourseMemberApplicantMapper.xml" 
			/> <mapper resource="com/sol/mapper/CourseRequestMapper.xml" /> <mapper resource="com/sol/mapper/CourseReviewCommentList.xml" 
			/> <mapper resource="com/sol/mapper/CourseReviewCommentMapper.xml" /> <mapper 
			resource="com/sol/mapper/CourseReviewMapper.xml" /> <mapper resource="com/sol/mapper/ExpertApplicantMapper.xml" 
			/> <mapper resource="com/sol/mapper/ExpertFileMapper.xml" /> <mapper resource="com/sol/mapper/ExpertMapper.xml" 
			/> <mapper resource="com/sol/mapper/ExpertMapper.xml" /> <mapper resource="com/sol/mapper/FileMapper.xml" 
			/> <mapper resource="com/sol/mapper/MemberMapper.xml" /> <mapper resource="com/sol/mapper/MyCommentMapper.xml" 
			/> <mapper resource="com/sol/mapper/MyCourseMapper.xml" /> <mapper resource="com/sol/mapper/MyCourseRequestMapper.xml" 
			/> <mapper resource="com/sol/mapper/MyExpertMapper.xml" /> <mapper resource="com/sol/mapper/MyPageMapper.xml" 
			/> <mapper resource="com/sol/mapper/MyReviewMapper.xml" /> <mapper resource="com/sol/mapper/MyRoutineMapper.xml" 
			/> <mapper resource="com/sol/mapper/RoutineListMapper.xml" /> <mapper resource="com/sol/mapper/RoutineMemberApplicantMapper.xml" 
			/> <mapper resource="com/sol/mapper/RoutineReviewCommentList.xml" /> <mapper 
			resource="com/sol/mapper/RoutineReviewCommentMapper.xml" /> <mapper resource="com/sol/mapper/RoutineReviewLikeMapper.xml" 
			/> <mapper resource="com/sol/mapper/RoutineReviewListMapper.xml" /> <mapper 
			resource="com/sol/mapper/RoutineReviewMapper.xml" /> <mapper resource="com/sol/mapper/SponsorMapper.xml" 
			/> -->
	</mappers>
</configuration>







