@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #FFFEF1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

main {
  height: 100%;
  width: 100%;
  background-color: #FFFEF1;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: calc(100vh - 235px);
}
button:hover{
  cursor: pointer;
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border: 0px;
  font-size: 20px;
  color:white;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-retry,.button-injunging{
  color: #d9d9d9;
}


.font-main {
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle {
  font-size: 30px;
  color: #F38A6E;

  padding-top: 100px;
  height: 110px;
  line-height: 110px;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.signup-container {
  width: 800px;
  height: 100%;
  background-color: #FFFACD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 90%;
}

.div-signup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.div-signup-hide {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-end;
}

.div-signup-address {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-end;
}

.div-signup-address-add {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: center;
}

.input-basic {
  border-radius: 15px;
  border: 0px;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  height: 45px;
}

.input-address-basic {
  border-radius: 15px;
  border: 0px;
  width: 80%;
  font-size: 18px;
  height: 45px;
  padding: 10px;
  text-align: center;
}

.input-address-add {
  border-radius: 15px;
  border: 0px;
  width: 60%;
  font-size: 18px;
  height: 45px;
  padding: 10px;
  text-align: center;
}

.span-signup {
  line-height: 50px;
  width: 100px;
  text-align: end;
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-warning,
.p-duplication,
.p-nosame,
.p-nodupli-id,
.p-same{
  display: none;
  font-size: 16px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ff0000;
}

.p-same{
  color : green;
}
.p-no-duplication{
   display: none;
  font-size: 16px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:green;
}

.input-email{
  border-radius: 15px;
  border: 0px;
  font-size: 14px;
  height: 45px;
  padding: 10px;
  text-align: center;
}

.div-signup-radio {
  width: 80%;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
}

.label-terms,
.span-add {
  color: #d9d9d9;
}

.label-terms:hover,
.span-add:hover {
  color: black;
}

.button-basic {
  width: 100%;
  background-color: #f59d85;
  color: white;
  margin: 20px;
}

.button-back{
   width: 100%;
  background-color: #d9d9d9;
  color: black;
  margin: 20px;
  font-size: 20px;
}

.input-cert {
  border-radius: 15px;
  border: 0px;
  width: 80%;
  font-size: 18px;
  height: 45px;
  padding: 10px;
  text-align: center;
  background-color: #d9d9d9;
}
.input-password-first{
  margin-bottom:10px;
}
