/* 헤더 */
#header {
  height: 110px;
  width: 100%;
  top : 0px;
  z-index: 9999;
  position: sticky;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f59d85;
}


/* 메뉴 */
.header-container-menu {
  display: flex;
  height: 110px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFACD;
  position: relative;
  width: 100%;
}

/* 헤더 메뉴 */
.header-menu-bar {
  position: relative;
  width: 100%;
  height: 113px;
  background-color: #fffacdd5;
  display: flex;
  flex-direction: column;
}

/* 헤더 상단 */
.header-menu-bar-top {
  position: relative;
  width: 100%;
  height: 50px;
  top: 15px;
  display: flex;
  justify-content: center;
  margin: 0;
}

/* 헤더 상단 a */
.header-menu-bar-top a{
  width : 150px;
}

.header-menu-bar-top a:hover {
  text-decoration: underline;
}

/* 헤더 상단 우측 버튼 */
#header-menu-bar-top-right {
  margin-left: 910px;
  width : 250px;
  font-size: 15px;
  text-align: right;
}

/* 헤더 상단 우측 버튼 a */
#header-menu-bar-top-right a {
  text-decoration: none;
  color: #A39E9E;
  font-size: 15px;
}

/* 드롭 다운 가능한 메뉴 */
.header-menu-dropdown-list {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63px;
  top: 0px;
}

/* 드롭 다운 가능한 메뉴 - 헤더 좌측 */
.header-menu-dropdown-left {
  top: 0px;
  display: flex;
  margin-left: 0px;
  margin-right: 430px;
  margin-top: 3px;
  width: 280px;
}

.header-menu-dropdown-left a {
  color: #F38A6E;
  text-decoration: none;
}

#header-menu-center img:hover {
  cursor: pointer;
}

/* 헤더 센터 이미지 영역 */
#header-menu-center {
  width: 100%;
  height: 110px;
  position: absolute;
  display: flex;
  justify-content: center;
}

#header-menu-center a {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 1;
}

#header-menu-center img {
  width: 100px;
  height: 100px;
}

/* 드롭 다운 메뉴 - 드롭 다운*/
.header-menu-dropdown-menu-content {
  display: none;
  margin-top: 0px;
  width: 100px;
}

/* 드롭 다운 메뉴 */
.header-menu-dropdown-menu {
  text-align: center;
  font-size: 19px;
  margin: 0;
  padding: 0;
  line-height: 60px;
  width: 100px;
}

/* 메뉴 - 드롭다운 메뉴 묶음 */
.header-menu-dropdown {
  width: 100px;
  top: 0px;
}

/* 드롭다운 메뉴 배경 */
.header-menu-dropdown-bg {
  position: absolute;
  top: 63px;
  width: 100%;
  height: 50px;
  left: 0px;
  display: none;

  background-color: #f7ee9e;
}

.header-menu-dropdown:hover .header-menu-dropdown-bg {
  display: flex;
}

.header-menu-dropdown:hover .header-menu-dropdown-menu-content {
  display: flex;
}

.header-menu-dropdown-menu-content {
  transform: translate(-50px, 0);
  width: 400px;
}

.header-menu-dropdown-menu-content a {
  margin: 10px 10px;
}

.header-menu-dropdown:hover .header-menu-dropdown-menu a {
  padding-bottom: 15px;
  border-bottom: 2px solid #F38A6E;
}

/* 헤더 우측 버튼 */
.header-menu-right {
  top: 0px;
  display: flex;
  justify-content: right;
  margin-top: 10px;
  width: 220px;
  margin-left: 220px;
}

.header-menu-right a {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.header-menu-right a img {
  width: 30px;
  height: 30px;
}

/* 후원 버튼 */
#div-a-donation-link {
  width: 300px;
  border-radius: 10px;
  background-color: #F38A6E;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 100px;
}

/* 후원 버튼 a*/
#div-a-donation-link a{
  text-decoration: none;
  color: white;
  font-size: 22px;
  line-height: 40px;
}