*{
  margin: 0;
  padding: 0;
}

/* 메인 컨테이너 */
#main-container {
    width: 1200px;
    height: calc(100% -500px);
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

a:-webkit-any-link{
  text-decoration: none;
}

/* 메인 */
main {
    /* height는 컨텐츠에 따라 */
    height: 2100px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/* 버튼 */
button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  font-size: 20px;
  cursor: pointer;
}

/* 메인 폰트 */
.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 메뉴 폰트 */
.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 페이지 제목 */
.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* 배너 영역 */
#main-top-banner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f59d85;
  height: 500px;
  width : 100%;
}

/* 배너 이미지 영역 */
#main-top-banner-img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 1200px;
  height: 100%;
  margin: auto;
}

/* 배너 이미지 틀 */
#main-top-banner-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 배너 이미지 실제로 보이는 영역 */
#main-banner-box{
  display: flex;
  justify-content :left;
  width : 900px;
  left : 0px;
  margin: 0px 20px;
  position: relative;
  overflow: hidden;
  top : 16px;
}

/* 배너 ul */
#main-ul-banner{
  display: flex;
  position: relative;
  list-style: none;
}

/* 배너 사진 li */
.main-li-banner{
  position: relative;
  background-color : #f3f196;
}

/* 배너 사진 img */
.main-li-banner img{
  width : 900px;
  height: 493px;
}

/* 배너 좌/우측 버튼 */
.div-button-banner{
  background-color: white;
  border-radius: 60%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  width : 30px;
  height: 30px;
  cursor: pointer;
}

/* 배너 페이지 번호 */
#banner-page-number{
  position: relative;
  bottom : 50px;
  background-color: white;
  width : 70px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
}

/* 메뉴 링크 */
#main-link-box{
  height : 250px;
  position: relative;
  width: 1200px;
}

/* 메뉴 링크 a */
#main-link-box a{
  border-radius: 20px;
  text-decoration: none;
  position : absolute;
  height: 45px;
  width : 280px;
  padding: 3px 50px;
  line-height: 45px;
  font-size: 25px;
  color : black;
  text-align: center;
}

#main-link-box :nth-child(1){
  background-color: rgb(219, 99, 99);
  top : 15px;
  left : 200px;
}


#main-link-box :nth-child(2){
  background-color: rgb(185, 233, 163);
  top : 100px;
  left : 420px;
}

#main-link-box :nth-child(3){
  background-color: rgb(65, 217, 228);
  
  top : 160px;
  left : 20px;
}

#main-link-box :nth-child(4){
  background-color: rgb(231, 231, 231);
  left:700px;
  top : 170px;
}

#main-link-box :nth-child(5){
  background-color: rgb(244, 247, 105);
  top : 30px;
  left : 800px;
}

/* 후기글 목록 */
#course-review-list{
  display: flex;
  justify-content:space-between;
}

#routine-review-list{
  display: flex;
  justify-content:space-between;
}

/* 후기글 */
.review-box{
  margin : 10px 0px;
}

/* 후기글 img */
.review-img-box img{
  width : 330px;
  height : 330px;
  text-decoration: none;
}

/* 후기글 글 정보 */
.review-text{
  display: flex;
  justify-content: right;
  text-decoration: none;
  color : rgb(151, 151, 151);
}

/* 후기글 작성일자 */
.review-date{
  margin-left: 10px;
}

.review-title{
  color : black;
}

a:hover .review-title{
  text-decoration: underline;
}