@charset "UTF-8";
/* 모달 들어가는 곳 */
.mypage-modal{
    top:0;
    width: 100%;
    height: 100%;
    background-color: #0000003e;
    z-index: 2;
    position: fixed;
    display: none;
}

/* 모달 내부 영역 */
.modal-main{
    padding: 50px 30px 0px 80px;
}

/* 모달 닫기 */
.button-modal-close{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    background-color: #F59D85;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    color : white;
    cursor: pointer;
}

/* 모달 창 */
.window-modal{
    margin : auto;
    margin-top: 300px;
    height: 500px;
    width : 1000px;
    border-radius: 15px;
    background-color: #FFFACD;
}

/* 모달 상단 영역 */
.modal-header{
    display: flex;
    width: 100%;
}

.modal-title{
    font-size: 30px;
    position: relative;
    color:#F59D85;
    font-weight: 700;

    width: 890px;
}

.modal-content{
    margin-top : 70px;
    width: 700px;
    line-height: 40px;
}

input{
  height: 48px;
  width: 500px;
  padding-left: 3px;
}