@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}

/* 메인 컨테이너 */
#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* 메인 */
main {
    /* height는 컨텐츠에 따라 */
    height: 900px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 버튼 */
button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  font-size: 20px;
  cursor: pointer;
}

/* 메인 폰트 */
.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 메뉴 폰트 */
.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 페이지 제목 */
.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* 개인정보 조회 */
#personal-info-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 개인정보 행 */
.personal-info-list{
  display: flex;
  height: 50px;
  font-size:20px;

  padding-left: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  line-height: 50px;

  border-bottom: 1px solid #f59d85;
}

/* 전문가 인증 파일 변경 버튼 */
/* #button-edit-expert-info{
  background-color:#f59d85 ;

  border: none;
  color : white;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  border-radius: 20px;

  margin:auto;
} */

/* 개인정보 유형 */
.personal-info-type{
  width : 360px;
  color : #6E6E6E;
}

/* 개인정보 값 */
.personal-info-data{
  width : 720px;
}

/* 우편번호 */
#personal-info-data-postcode{
  text-align: center;
  width : 90px;

  font-size: 20px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 프로필 사진 */
#profile-picture{
  margin-top: 0px;
  width: 50px;
  height: 50px;

}

/* 프로필 사진 이미지 */
#profile-picture img{
  border-radius: 60%;
  width: 100%;
  height: 100%
}

/* 하단 버튼 - 수정/회원탈퇴 */
#form-bottom-button{
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
}

/* 하단 버튼 - 수정/회원탈퇴 */
#form-bottom-button button{
  margin-top: 60px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  border-radius: 20px;
}

/* 회원정보 수정 버튼 */
#button-edit-user{
  background-color: #f59d85;
  color : white;
  border : none;
}

/* 회원 탈퇴 버튼 */
#button-del-user{
  background-color: white;
  color : red;
  border : red solid;
  position: relative;
  left: 500px;
}