* {
  margin: 0;
  padding: 0;
}

/* 폰트 */
.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* 헤더 */
header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #757575;
  display: flex;
  justify-content: center;
}

/* 사이트 로고 */
header>a>img {
  height: 110px;
  width: 110px;
}

/* 푸터 영역 */
footer {
  width: 100%;
  height: 125px;
  background-color: #d9d9d9;
}


/* 메인 */
main {
  padding-top: 110px;
  height: 100%;
  width: 100%;
  background-color: #a6a6a6;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: calc(100vh - 235px);
}

/* 메인 영역 */
#main-container {
  width: 1200px;
  background-color: #b8b8b8;
  margin: auto;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 235px);
}

/* 메인 컨테이너 영역 */
.expert-detail-container {
  background-color: #b8b8b8;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

/* 제목, 목록 영역 */
#detail-container-list {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

/* 제목 */
.pagetitle {
  font-size: 30px;

  height: 110px;
  line-height: 110px;
  align-self: center;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-left: 490px;
}

/* 목록 이동 버튼 */
.back-list {
  height: 50px;
  width: 80px;
  background-color: #818181;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  border: 0;
}

/* 내용 영역 */
.div-detail-area {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.main-expert-info {
  margin: 50px 150px 0;
}

.main-expert-info-title {
  font-weight: 700;
  font-size: 24px;
}

.main-expert-info>div {
  margin: 10px 20px;
  display: flex;
  font-size: 18px;
}

.main-expert-info>div>p:first-child {
  margin-right: 10px;
}

/* 전문가 첨부파일 영역 */
.main-expert-list-file {
  font-size: 18px;
  text-align: center;
  display: flex;
  line-height: 40px;
}

.main-expert-list-file>a>button {
  height: 40px;
  border: 0;
  background-color: #818181;
  color: white;
  margin: 0;
}

/* 삭제 버튼 영역 */
#div-admin-detail-button-delete {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}

/* 버튼 커스텀 */
button {
  border-radius: 20px;
  width: 110px;
  height: 55px;
  background-color: white;
  border: 0px;
  margin: 45px;
  color: red;
  font-size: 22px;
  cursor: pointer;
  border: 2px solid red;
}

/* 모달 전체 창 */
#modal-background {
  height: 100vh;
  width: 100%;
  background-color: #0000003e;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

/* 모달 창 */
#cancel-modal {
  background-color: white;
  height: 430px;
  width: 700px;
  display: flex;
  border-radius: 20px;
}

/* 모달 나가기 버튼 */
#cancel-modal>button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #818181;
  transform: translate(90px, -20px);
}

/* 반려 모달 입력 */
#cancel-modal-in {
  transform: translate(100px, 70px);
  height: 300px;
  width: 500px;
}

/* 반려 모달 제목 */
#cancel-modal-in>p {
  font-size: 25px
}

/* 반려 모달 입력 영역 */
#cancel-input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 반려 모달 입력 */
#cancel-input>textarea {
  padding: 10px;
  font-size: 16px;
  resize: none;
  height: 200px;
  width: 500px;
  border-radius: 20px;
}

/* 반려 모달 등록 버튼 */
#submit {
  background-color: #818181;
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 7px;
  color: white;
  margin: 20px;
  border: 0;
}