* {
  margin: 0;
  padding: 0;
}

/* 폰트 */
.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 바디 */
body {
  background-color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 헤더 */
header {
  display: flex;
  margin: auto;
  position: fixed;
  transform: translateX(155px);
  z-index: 2;
  background-color: #bebebe;
  height: 80px;
  width: 895px;
  font-size: 20px;
  line-height: 80px;
  justify-content: space-between;
}

/* 헤더 메뉴 이름 */
header>p{
  margin : 0 30px;
} 

/* 로그아웃 버튼 */
header>button {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  margin: 25px 20px;
  background-color: black;
  color: white;
  border: 0;
  font-size: 16px;
}

/* 메인 */
main {
  height: 91vh;
  display: flex;
  position: relative;
  top: 80px;
}

/* 사이드바 리스트 영역 */
#main-admin-list-menu {
  background-color: #d9d9d9;
  height: 100vh;
  width: 310px;
  position: fixed;
  transform: translate(-155px, -80px);
}

/* 사이드바 리스트 */
#main-admin-list {
  margin: 150px 55px;
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 사이드바 리스트 목록 */
#main-admin-list>li {
  font-size: 20px;
  margin: 20px 0;
}

/* 사이드바 리스트 목록 호버시 폰트 사이즈 증가 */
#main-admin-list>li:hover{
  font-size: 24px;
}

/* 리스트 스타일 제거 */
#main-admin-list>li>a {
  text-decoration: none;
  color: black;
}

/* 메인 영역 */
#main-banner {
  background-color: white;
  height: 100vh;
  width: 895px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(155px);
}

/* 배너명, 배너 파일 등록, 취소 영역 */
#main-banner-div {
  background-color: white;
  height: 250px;
  width: 350px;
  display: flex;
  transform: translateY(250px);
  display: flex;
}

/* 배너명 입력 */
#main-banner-input-name {
  margin: 30px 0;
  height: 35px;
  width: 250px;
  border-radius: 10px;
}

/* 배너 이미지 파일 입력 */
#main-banner-input-file>input:nth-child(2) {
  margin: 0 30px 50px 0;
  height: 35px;
  width: 250px;
  border-radius: 10px;
}

/* 등록, 취소 버튼 영역 */
#main-banner-btn{
  display: flex;
}

/* 버튼 스타일링 */
#main-banner-btn>button{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  background-color: #818181;
  color: white;
  font-size: 18px;
  margin-right: 50px;
  cursor: pointer;
}