@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}

/* 메인 컨테이너 */
#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* 메인 */
main {
    /* height는 컨텐츠에 따라 */
    height: 1050px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 버튼 */
button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  font-size: 20px;
  cursor: pointer;
}

/* 메인 폰트 */
.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 메뉴 폰트 */
.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 페이지 제목 */
.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* 개인정보 수정 정보 */
#edit-info-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 각 개인정보 수정 정보 */
.edit-info-list{
  display: flex;
  height: 50px;

  padding-left: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  line-height: 50px;

  border-bottom: 1px solid #f59d85;
}

/* 개인정보 수정 행에 있는 버튼 */
.edit-info-data button{
  background-color:#f59d85;

  border: none;
  color : white;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  border-radius: 20px;

  margin-left: auto;
} 

/* 1개의 정보에 두개의 입력창이 2열로 있을 경우 */
.edit-info-input-two-row{
  display: flex;
  flex-direction: column;
}

/* 개인정보 유형 */
.edit-info-type{
  width : 360px;
  color : #6E6E6E;
}

/* 개인정보 값 */
.edit-info-data{
  width : calc(1200px - 360px);
  display: flex;
}

/* API로 자동으로 넣어질 주소/우편번호 */
#edit-info-address-main{
  display: flex;
}

/* API로 자동으로 넣어질 주소 */
#edit-info-address-text{
  width: 500px;
}

/* API로 자동으로 넣어질 우편번호 */
#edit-info-address-post{
  text-align: right;
  width : 180px;
  margin-right: 15px;
}

/* 인증번호 입력 창 */
#input-verification-code{
  margin-top: 0px;
  height: 40px;
}

/* 전화번호 변경/인증번호 전송 버튼 */
#div-button-update-phone-number{
  margin-left:75px;
}

/* 인증번호 확인 버튼 */
#button-check-verification-code{
  margin-left:230px;
}

/* 전화번호 묶음 */
#div-send-verification-code{
  display: flex;
}

/* 전화번호 인증번호 묶음 */
#div-send-verification-code{
  display: flex;
}

/* 프로필 사진 */
#profile-picture{
  width: 50px;
  height: 50px;

}

/* 프로필 사진 이미지 */
#profile-picture img{
  border-radius: 60%;
  width: 100%;
  height: 100%
}

/* 하단 버튼 묶음 */
#bottom-button{
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
}

/* 하단 버튼 */
#bottom-button button{
  margin-top: 60px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  border-radius: 20px;
}

/* 개인정보 수정 버튼 */
#button-edit-user-complete{
  background-color: #f59d85;
  color : white;
  border : none;
  margin-right: 200px;
}

/* 개인정보 수정 취소 버튼 */
#button-edit-user-cancel{
  background-color: white;
  color : red;
  border : red solid;
  position: relative;
}

/* 닉네임 사용가능 여부 텍스트 */
#possible-nickname-text{
  display: none;
  width : 190px;
  text-align : right;
}

/* 2행으로 이루어진 정보 */
.edit-info-two-row{
  height: 101px;
}


/* 첫번째 입력 비밀번호 행 */
#password-first-input{
  display: flex;
}

/* 두번째 입력 비밀번호 행 */
#password-re-input{
  display: flex;
}

/* 비밀번호 패턴 경고 글자 */
.edit-info-pw-warning{
  display:none;
  width: 300px;
  padding-top: 0px;
  height: 36px;
  line-height: 25px;
  font-size: 15px;
  color:red;
  text-align: right;
}

/* 비밀번호 불일치 경고 글자 */
#edit-info-pw-re-warning{
  line-height: 50px;
}

/* 메인 컨테이너 입력창 */
#main-container input{
  height: 40px;
  width: 500px;
  margin-top: 4px;
  padding-left: 3px;
}