@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 메인 컨테이너 */
#main-container {
	width: 1200px;
	height: 100%;
	background-color: #FFFEF1;
	margin: auto;
	align-items: center;
	justify-content: center;
}

/* 메인 */
main {
	/* height는 컨텐츠에 따라 */
	height: 1050px;
	min-height: calc(100vh - 235px);
	width: 100%;
	background-color: #FFFEF1;
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* 버튼 */
button {
	border-radius: 13px;
	padding: 0px 20px;
	height: 50px;
	background-color: #f59d85;
	border: 0px;
	font-size: 20px;
	cursor: pointer;
}

/* 메인 폰트 */
.font-main {
	font-size: 20px;
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* 메뉴 폰트 */
.font-menu {
	font-family: "Yeon Sung", system-ui;
	font-weight: 400;
	font-style: normal;
}

/* 페이지 제목 */
.pagetitle {
	font-size: 30px;
	color: #F38A6E;
	padding-top: 100px;
	height: 110px;
	line-height: 110px;
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

/* 수업 속성 값 */
.expert-course-col-type {
	display: flex;
	background-color: #FFB29D;
	height: 50px;
	line-height: 50px;
	color: white;
}

/* 수업 제목 열 */
.expert-course-title {
	padding-left: 15px;
	text-align: left;
	width: 70%;
}

/* 수업 목록 */
.expert-course-list {
	background-color: white;
}

#button-course-rejection-reason {
	height: 50px;
	line-height: 50px;
	background-color: white;
	width: 15%;
}

/* 수업 목록 글자 p */
p {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 신청 진행사항/인원수 열 */
.expert-course-status, .expert-course-count {
	text-align: center;
	width: 10%;
}

/* 신청일자 열 */
.expert-course-date {
	text-align: center;
	width: 10%;
}

/* 수업 행 */
.li-expert-course-content {
	list-style: none;
	display: flex;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #f59d85;
}

/* 수업 목록 속성 값의 글자  */
.expert-course-col-type p {
	font-size: 20px;
	font-family: "IBM Plex Sans KR", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* 목록 페이지 */
.page-list {
	display: flex;
	justify-content: center;
}

/* 목록 페이지 */
.pagenation {
	margin-top: 50px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

a {
	text-decoration: none;
	color: black;
}

/* 검색 */
.select-search {
	border-radius: 10px;
	border: 1px black solid;
	font-family: "IBM Plex Sans KR", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	height: 45px;
	padding-left: 3px;
}

/* 검색 입력 창 */
.input-search {
	margin-top: 30px;
	border-radius: 15px;
	border: 1px black solid;
	width: 30%;
	height: 45px;
	font-family: "IBM Plex Sans KR", sans-serif;
	padding-left: 3px;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
}

/* 검색 버튼 */
.button-search {
	width: 30px;
	height: 30px;
	background-color: #000000;
	padding: 0;
	position: relative;
	right: 46px;
	top: 10px;
}

/* 검색 버튼 이미지 */
.button-search img {
	width: 100%;
	height: 100%;
}

a:hover {
	text-decoration: underline;
}

select {
	cursor: pointer;
}

button:hover{
	cursor : pointer;
	text-decoration: underline;
}