@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 메인 컨테이너 */
#main-container {
  width: 1200px;
  height: 100%;
  background-color: #FFFEF1;
  margin: auto;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 메인 */
main {
  /* height는 컨텐츠에 따라 */
  height: 1600px;
  min-height: calc(100vh - 235px);
  width: 100%;
  background-color: #FFFEF1;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 버튼 */
button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 50px;
  background-color: #f59d85;
  color : white;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
}

/* 메인 폰트 */
.font-main {
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 메뉴 폰트 */
.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 페이지 제목 */
.pagetitle {
  font-size: 30px;
  color: #F38A6E;

  padding-top: 100px;
  height: 110px;
  line-height: 110px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.expert-status-title {
  font-size: 25px;
  width: 100%;
  background-color: #f59d85b0;
  margin-top : 20px;
  margin-bottom : 10px;
  padding-left: 3px;
  height: 45px;
  line-height: 45px;
  font-weight: 700;
}

#expert-status-file-date{
  margin-right: 35px;
}

.expert-status-confirm-text{
  display: flex;
}

.expert-status-text {
  display: flex;
}

#a-expert-status-file{
	margin-left : 20px;
}



#expert-file-text{
  line-height: 60px;
}

#button-expert-status-rejection-reason{
  margin: 0px;
  padding : 0px;
  color : black;
  text-decoration: underline;
  background-color: #ffffff00;
  line-height: 20px;
  height: 20px;

  margin-right: 20px;
}