@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}

/* 메인 컨테이너 */
#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* 메인 */
main {
    /* height는 컨텐츠에 따라 */
    height: 1000px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 버튼 */
button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  font-size: 20px;
  cursor: pointer;
}

/* 메인 폰트 */
.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 메뉴 버튼 */
.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 페이지 제목 */
.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* 후원 상세 정보 */
.my-sponsorship-data{
    display: flex;
    height: 45px;
}

/* 후원 상세 정보 제목 */
/* .my-sponsorship-data-title{
  width: 500px;
} */

/* 후원 목록 속성 값 */
.my-sponsorship-list-col-type {
  display: flex;
  background-color: #FFB29D;
  height: 50px;
  line-height: 50px;
  color : white;
}

/* 후원 목록 */
/* .my-sponsorship-list-container{
    margin-top: 50px;
} */

/* 후원 목록 */
.my-sponsorship-list{
    background-color: white;
}

p{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 후원금액 열 */
.list-money {
  text-align: left;
  width: 70%;
  margin-left : 100px;
}

/* 후원일자 열 */
.list-date {
  text-align: center;
  width: 30%;
}

/* 후원 목록 행 */
.li-sponsorship-content {
  list-style: none;
  display: flex;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f59d85;
}

/* 후원 목록 행 글자 */
.my-sponsorship-list-col-type p {
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 목록 페이지 */
.page-list {
  display: flex;
  justify-content: center;
}

/* 목록 페이지 번호 리스트 */
.pagenation {
  margin-top: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
    text-decoration: underline;
}