*{
  margin: 0;
  padding: 0;
}

/* 메인 컨테이너 */
#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* 메인 */
main {
    /* height는 컨텐츠에 따라 */
    height: 718px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 버튼 */
button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  cursor: pointer;
}

/* 메인 폰트 */
.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 메뉴 폰트 */
.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 페이지 제목 */
.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* 비밀번호 입력 창 */
.button-pw{
  height:50px;
  background-color: #F59D85;
  border : 0;
  border-radius: 10px;
  font-size: 20px;
  color : white;
  cursor: pointer;
}

/* 비밀번호 form */
.form-pw{
  display: flex;
  justify-content: center;
  margin-top : 130px;
  height: 45px;
  line-height: 50px;
}

/* 비밀번호 입력 창 */
.form-pw input{
  margin : 0px 30px;
  width: 550px;
  border-radius: 10px;
  border : 1px solid black;
  font-size: 17px;
  padding-left: 3px;
}

/* 비밀번호 글자 */
.label-pw{
  text-align: right;
  font-size : 20px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 비밀번호 틀렸을 경우 안내 문구 */
.wrongpw{
  margin-top: 30px;
  font-size: 20px;
  margin-left: 620px;
  color : red;
  display: none;
}
