/* 사이드 메뉴 */
#mypage-sidemenu-container {
  position: fixed;
  top: 140px;
  left: 30px;
}

/* 사이드 메뉴 창 */
.mypage-sidemenumove {
  position: absolute;
  left: -300px;

  width: 250px;
  height: 410px;
  background-color: #FFFACD;
  border-radius: 10px;
}

/* 사이드 메뉴 창 */
.mypage-sidemenu {
  margin-top: 60px;
}

/* 사이드 메뉴 닫기 버튼 */
.mypage-sidemenubtn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #F59D85;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  line-height: 35px;
}

/* 사이드 메뉴 열기 버튼 */
.mypage-sidemenubtn-open {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #F59D85;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  line-height: 35px;
}

/* 사이드 메뉴 리스트 */
.ul-mainsidemenu {
  list-style-type: none;
}

/* 사이드 메뉴 리스트 */
.nav-mypage-sidemenu {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

/* 사이드 메인 메뉴 리스트 링크 */
.li-mainsidemenu a {
  color: #F38A6E;
  text-decoration: none;
  font-size: 25px;

  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 사이드 메인 메뉴 리스트 */
.li-mainsidemenu li {
  height: 35px;
  line-height: 35px;
}

/* 사이드 서브 메뉴 li */
.li-mainsidemenu li {
  text-decoration: none;
}

/* 사이드 서브 메뉴 ul */
.ul-subsidemenu {
  margin-left: 50px;
  list-style-type: disc;
}

/* 사이드 서브 메뉴 li */
.li-subsidemenu {
  color: #FFB9A6;
}

/* 사이드 서브 메뉴 링크 */
.li-subsidemenu a {
  color: #FFB9A6;
  font-size: 20px;
}

/* 사이드 서브 메뉴 버튼 */
.li-subsidemenu button{
  color: #FFB9A6;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  padding : 0px;
  background-color: rgba(255, 255, 255, 0);
}

.li-mainsidemenu a:hover {
  color: #eb491d;
  text-decoration: underline;
}

.li-subsidemenu a:hover {
  color: #f17553;
  text-decoration: underline;
}

.li-subsidemenu button:hover {
  color: #f17553;
  text-decoration: underline;
}

.mypage-sidemenubtn-open:hover {
  background-color: #f17553;
  cursor: pointer;
}

.mypage-sidemenubtn-close:hover {
  background-color: #f17553;
  cursor: pointer;
}